body {
    display: flex;
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}
.forms {
    padding-left: 45%;

}
.backcolor {
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
}